@font-face{
  font-family: "oswald";
  src: url("fonts/Oswald/Oswald-Regular.ttf");
  font-weight: 500;
}
h1 {
  color: red;
  font-family: oswald, Helvetica, 'Courier New', Arial;
}
p {
  color: green;
  font-size: 24px;
}
thead {
  color: green;
  font-weight: bold;
  font-size: 22px;
}
/* img{
  width: 200px;
  margin: 20px;
} */